/* @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap"); */
:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --accent-text-color: #000000;
  --accent-color: #2196f3;
  --background-color: #ffffff;
  --color-section: #f5f4fa;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

.logo {
  color: var(--accent-color);
}

.logotyp {
  color: var(--accent-text-color);
}

/* site nav */

.site-nav .link {
  text-decoration: none;
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* connection */
.connection .link {
  text-decoration: none;
  color: var(--primary-text-color);
}

.connection .link:hover,
.connection .link:focus {
  color: var(--accent-color);
}

/* hero */

.hero-title {
  color: red;
}

/* button */

.button {
  background-color: var(--accent-color);
  color: var(--background-color);
}

/* section */

.section-title {
  color: var(--title-text-color);
}

/* advantage */

.advantage p {
  color: var(--primary-text-color);
}

/* occupation */

/* team */

.section-team {
  background-color: var(--color-section);
}

.team p {
  color: var(--primary-text-color);
}

/* footer */

.studio {
  color: var(--background-color);
}

.footer {
  background-color: #2f303a;
}

.address {
  color: var(--background-color);
}

/* portfolio */

.button-choice {
  background-color: var(--color-section);
  color: var(--title-text-color);
}

.button-choice:hover {
  background-color: var(--accent-color);
  color: var(--background-color);
}

.button-choice:focus {
  background-color: var(--accent-color);
  color: var(--background-color);
}

.menu p {
  color: var(--primary-text-color);
}
