/* @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap"); */
:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --accent-text-color: #000000;
  --accent-color: #2196f3;
}

body {
  background-color: #e5e5e5;
  color: var(--title-text-color);
}

.logo {
  color: var(--accent-color);
}

.logotyp {
  color: var(--accent-text-color);
}

.list {
  list-style: none;
}

/* site nav */

.site-nav .link {
  text-decoration: none;
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* connection */
.connection .link {
  text-decoration: none;
  color: var(--primary-text-color);
}

.connection .link:hover,
.connection .link:focus {
  color: var(--accent-color);
}

/* hero */

.hero-title {
  color: #ffffff;
}

/* button */

.button {
  background-color: var(--accent-color);
  color: #ffffff;
}
/* section */

.section-title {
  color: var(--title-text-color);
}

/* advantage */

/* occupation */

/* team */
