:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --accent-text-color: #000000;
  --accent-color: #2196f3;
  --background-color: #ffffff;
  --color-section: #f5f4fa;
  --title-text: "Roboto", sans-serif;
  --secondary-text: "Raleway", sans-serif;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

body {
  font-family: var(--title-text);
}

.logo {
  color: var(--accent-color);
  font-family: var(--secondary-text);
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logotyp {
  font-family: var(--secondary-text);
  color: var(--accent-text-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* site navigaion */

.navigation-link {
  color: var(---background-color);
  font-family: var(--title-text);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigation .link:hover,
.navigation .link:focus {
  color: var(--accent-color);
}

/* connection */
.connection-link {
  color: var(--primary-text-color);
  font-family: var(--title-text);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.connection-link:hover,
.connection-link:focus {
  color: var(--accent-color);
}

/* hero */

.hero-title {
  color: red;
  font-family: var(--title-text);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* button */

.button {
  background-color: var(--accent-color);
  color: var(--background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* section */

.advantage-title {
  color: var(--title-text-color);
  font-family: var(--title-text);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.advantage-par {
  font-family: var(--title-text);
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* occupation */

.section-title {
  font-family: var(--title-text);
  color: var(--accent-text-color);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/* team */
.team {
  background-color: var(--color-section);
}

.team-title {
  font-family: var(--title-text);
  color: var(--title-text-color);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-name {
  font-family: var(--title-text);
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-par {
  font-family: var(--title-text);
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

/* footer */

.logotyp-footer {
  color: var(--background-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.maps {
  font-family: var(--title-text);
  color: var(--background-color);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.studio {
  color: var(--background-color);
}

.footer {
  background-color: #2f303a;
}

.address {
  color: var(--background-color);
}

/* portfolio */

.button-choice {
  background-color: var(--color-section);
  color: var(--title-text-color);
}

.button-choice:hover {
  background-color: var(--accent-color);
  color: var(--background-color);
}

.button-choice:focus {
  background-color: var(--accent-color);
  color: var(--background-color);
}

.menu p {
  color: var(--primary-text-color);
}
